# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
.ipynb_checkpoints/

# Java / Maven
target/
!.mvn/wrapper/maven-wrapper.jar
*.class

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

Моделирование/*.png
