<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Persons</title>
</head>
<body>

<h1>Persons</h1>

<a href="/persons/new">
    <button type="button">Создать Person</button>
</a>

<br><br>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Eye color</th>
        <th>Hair color</th>
        <th>Birthday</th>
        <th>Weight</th>
        <th>Location</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="person : ${persons}">
        <td th:text="${person.id}"></td>
        <td th:text="${person.name}"></td>
        <td th:text="${person.eyeColor}"></td>
        <td th:text="${person.hairColor}"></td>
        <td th:text="${person.birthday}"></td>
        <td th:text="${person.weight}"></td>
        <td th:text="${person.location.name}"></td>
    </tr>
    </tbody>
</table>

<br>

<a href="/movies">Movies</a>

</body>
</html>
